slurm*
getMutations.sh
wbc.pkl
with-vep*
trained_model.pkl
trained_model_reduced_cosmuc_snapshot.pkl
*.csv
result_reducedFeats.pkl
resultmaxRC.pkl
result0*
qiaseqVariantsInCommonRegions.sh
qiaseqVariantsInCommonRegions_newdata.sh
pats-no-oncomine.pkl
outerLoop.py
outerLoop_reducedFeats.py
intermediate-files/
*.pkl
!trained_model_reduced_cosmic.pkl
cfDNA-gDNA/
.tmp/
